.portfolio {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(1, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
    }
    &__item {
        transition: all 0.6s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            transform: scale(1.05);
            filter: blur(3px);
        }
    }
}